.logo {
  width: 100px;
  height: 24.609px;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 214px;
  display: flex;
  flex-direction: row;
}

.form-body {
  width: 544px;
  height: 561px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: -2px -2px 6px 0px rgba(0, 0, 0, 0.15),
    2px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

#text {
  color: #8e8585;
  font-size: 16px;
}

.username {
  margin-left: 119px;
  width: 300px;
  height: 39.204px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #baf1f7;
  margin-top: 16px;
  border: none;
}

.email {
  margin-left: 119px;
  width: 300px;
  height: 39.204px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #baf1f7;
  margin-top: 16px;
  border: none;
}

.password {
  margin-left: 119px;
  width: 300px;
  height: 39.204px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #baf1f7;
  margin-top: 16px;
  border: none;
}

.form-body {
  width: 544px;
  height: 561px;
  
  border-radius: 16px;
  background: #fff;
 
}

.add-button {
  margin-left: 121px;
  width: 300px;
  height: 39.204px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #2e8a99;
  margin-right: 20px;
  border: none;
  margin-top: 60px;
  position: relative;
}

.add-text {
  color: #fff;
  font-size: 18px;
  position: relative;
}

.cancel-link {
  cursor: pointer;
  color: #000;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
  text-align: center;
  margin-left: 7px;
  position: relative;
}

.facility-dropdown {
  font-size: 16x;
  font-weight: 600;
  margin-left: 66px;
}

.input-field {

  margin-left: 0px;
  position: relative;
  margin-top: 42px;
  font-size: 14px;
  width: 308px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #d8f0f3;
}

.input-field-option {
  font-size: 14px;
  font-weight: 200;
  background-color: white;
}

.box-admin {
 
  align-items: center;
  margin-left: 173px;
  margin-top: 18px;
  margin-bottom: -6px;
 
  
}

.box-physician {
  margin-top: -15px;
  margin-bottom: -6px;
  justify-content: space-between;
  align-items: center;
  margin-left: 269px;
  
  
}

.checkbox-role-left{
  display: flex;
}

.checkbox-role-right{
  display: flex;
}


.image-pop{
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: table;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* flex-basis: ; */
  /* box-shadow: -2px -2px 6px 0px rgba(0, 0, 0, 0.15),c */
  /* 2px 2px 6px 0px rgba(0, 0, 0, 0.15); */
}